In [1]:
name = "jitendra"
print(name)

jitendra

In [2]:
num = 1000
print(num)

1000

In [3]:
num = 100.1
print(num)

100.1

In [4]:
num = True 
print(num)

True

In [5]:
a = 100
b = 20
print(a+b)

120

In [6]:
a = int(input("enter the num: "))
b = int(input("Enter the num: "))
print(a+b)

enter the num: 100
Enter the num: 300
400

In [7]:
a = int(input("Enter the num1: "))
b = int(input("Enter the num2: "))
print(a-b)

Enter the num1: 400
Enter the num2: 100
300

In [8]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [9]:
name = input("Enter the name: ")
print(name)

Enter the name: sita
sita

In [10]:
name = input("Enter the name: ")
print(type(name))

Enter the name: ram
<class 'str'>

In [11]:
num = int(input("Enter the num: "))
print(type(num))

Enter the num: 10
<class 'int'>

In [14]:
num = int(input("Enter the value: "))
print(type(num))

Enter the value: 22
<class 'int'>

In [15]:
num = 100.2
print(type(num))

<class 'float'>

In [16]:
num = True
print(type(num))

<class 'bool'>

In [17]:
ram = 0
pooja = ram 
print(pooja)

0

In [18]:
lion = 100
tiger = lion 
print(tiger)

100

In [19]:
i = 45
o = 100
p = 23
res = i+o-p
print(res)

122

In [20]:
a = None
print(a)

None

In [21]:
a = None 
print(type(a))

<class 'NoneType'>

In [22]:
#List:
a = [1,2,3,4,5,6]
print(a)

[1, 2, 3, 4, 5, 6]

In [23]:
b=[10,20,30,40,50,60]
print(b)

[10, 20, 30, 40, 50, 60]

In [24]:
b = [10,20,30,40,50]
print(type(b))

<class 'list'>

In [ ]:
#Write the program to calculate the SI?

In [25]:
P = 1000
R = 10
T = 3
SI = P*R*T/100
print(SI)

300.0

In [26]:
P = 1000
R = 7
T = 3
SI = P*R*T/100
print("Value of the SI:",SI)
print("Total Value: ",SI + P)

Value of the SI: 210.0
Total Value:  1210.0

In [ ]:
# Write the program to calculate the Area of the rectangle:

In [27]:
L = 1000
B = 20
A = L * B
print("Area of the Rectangle: ",A)

Area of the Rectangle:  20000

In [29]:
# Write the program to calculate the area of the square:

In [31]:
S1 = 100
S2 = 20
print("Area of the sqaure:",S1*S2)

Area of the sqaure: 2000

In [32]:
A = int(input("Enter the value: "))
B = int(input("Enter the value: "))
print(A+B)

Enter the value: 1000
Enter the value: 200
1200

In [33]:
first = "Jitendra"
last = "Singh"
print(first+" "+last)

Jitendra Singh

In [35]:
f = "ram"
l = "singh"
print(f+" "+l)

ram singh

In [36]:
name = "this is the world"
print(name)

this is the world

In [39]:
# Len function:
name = "this is the world"
print(len(name))

17

In [42]:
name = "this is the most beautiful feeling in this world "
print(len(name))

49

In [41]:
# Indexing function: 
name = "this is the most beautiful feeling in this world "
print(name[2])

i

In [43]:
name = "this is the most beautiful feeling in this world "
print(name[36])

n

In [44]:
name = 8000
i = str(name)
print(type(i))

<class 'str'>

In [45]:
name = 4000
res = float(name)
print(res)

4000.0

In [46]:
name = 200
res = bool(name)
print(res)

True

In [47]:
name = 10000
res = int(name)
print(type(res))

<class 'int'>

In [48]:
num = 10000
res = float(num)
print(type(res))

<class 'float'>

In [50]:
num = 20000
res = bool(num)
print(type(res))

<class 'bool'>

In [52]:
name = "jitendra"
res = str(name)
print(res)

jitendra

In [53]:
name = input("Enter the name: ")
age = int(input("Enter the age: "))
if name == "pooja" and age == 20:
    print("he is the rider")
else:
    print("he is not a rider")

Enter the name: jitendar
Enter the age: 89
he is not a rider

In [54]:
name = input("Enter the name: ")
age = int(input("Enter the age: "))
if name == "Neha" or age == 30:
    print("he loved apple!")
else:
    print("he loved orange!")

Enter the name: kumar
Enter the age: 89
he loved orange!

In [58]:
name = input("Enter the name:")
print("hello",name,"how are you ?")
mood = input()
if mood == "Good":
    print("he is  hardworking!")
else:
    print("he is not hardworking!")

Enter the name:jitendra
hello jitendra how are you ?
busy
he is not hardworking!

In [56]:
name = "ALex"=="Alex"
print(name)

False

In [57]:
name = "Kumar"=="Kumar"
print(name)

True

In [59]:
name = "Ram" == "Ram"
print(name)

True

In [60]:
num = 20.5
print(num)

20.5

In [61]:
num1 = int(input("enter the value: "))
num2 = int(input("enter the value: "))
print(num1 + num2)

enter the value: 800
enter the value: 900
1700

In [62]:
num1 = int(input("enter the value: "))
num2 = int(input("enter the value: "))
print(num1 * num2)

enter the value: 100
enter the value: 90
9000

In [63]:
num1 = int(input("enter the value: "))
num2 = int(input("enter the value: "))
print(num1 - num2)

enter the value: 100
enter the value: 20
80

In [64]:
num1 = int(input("enter the value: "))
num2 = int(input("enter the value: "))
print(num1 / num2)

enter the value: 1000
enter the value: 20
50.0

In [65]:
num1 = int(input("enter the value: "))
num2 = int(input("enter the value: "))
print(num1 // num2)

enter the value: 1000
enter the value: 2
500

In [66]:
num1 = int(input("enter the value: "))
num2 = int(input("enter the value: "))
print(num1 ** num2)

enter the value: 20
enter the value: 2
400

In [67]:
num1 = int(input("enter the value: "))
num2 = int(input("enter the value: "))
print(num1 % num2)

enter the value: 1000
enter the value: 2
0

In [ ]:
# Logical Operators

In [ ]:
and 
or 
not

In [68]:
name = input("Enter the name: ")
Age = int(input("Enter the Age: "))
if name == "pooja" and Age == 20:
    print("She is a Topper!")
else:
    print("She is not a Topper! ")

Enter the name: kumar
Enter the Age: 78
She is not a Topper!

In [69]:
name = input("Enter the name:")
Age = int(input("Enter the Age: "))
if name == "pooja" or Age == 60:
    print("She is a topper!")
else:
    print("she is not a topper!")

Enter the name:kumar
Enter the Age: 90
she is not a topper!

In [70]:
name = True and False
print(name)

False

In [71]:
name = True and True 
print(name)

True

In [72]:
name = False and False 
print(name)

False

In [74]:
name = False and True
print(name)

False

In [75]:
name = False or True 
print(name)

True

In [76]:
name = True or True
print(name)

True

In [77]:
name = False or False
print(name)

False

In [78]:
name = True or False
print(name)

True

In [79]:
num = 0 and 0
print(num)

0

In [80]:
num = 1 and 0
print(num)

0

In [81]:
num = 0 or 1
print(num)

1

In [82]:
num = 0
print(not num)

True

In [83]:
name = "pooja"
state = "UP"
print(name=="pooja" and state=="UP")

True

In [84]:
name = "Lion"
state = "MP"
print(name =="Tiger" or state == "MP")

True

In [85]:
name = input("Enter the name: ")
state = input("Enter the state: ")
print(name == "pooja" or state == "JK")

Enter the name: lion
Enter the state: keral
False

In [86]:
name = "Kumar"
res = "i" in name 
print(res)

False

In [87]:
name = "KITE"
res = "Y" in name 
print(res)

False

In [88]:
name = "Kite"
res = "o" not in name
print(res)

True

In [92]:
sen = input("Enter the sen:")
if sen == "GO GO BJP":
    print("he is a bjp leader")
else:
    print("He is a congress leader")

Enter the sen:GO GO BJP
he is a bjp leader

In [93]:
name = "ALex" == "ALex"
print(name)

True

In [94]:
name = "alex" != "alex"
print(name)

False

In [95]:
name = input("Enter the name: ")
age = int(input("Enter the Age"))
if name == "pooja" and age != 30:
    print("he is a great TM")
else:
    print("he is a great ZM")

Enter the name: lion
Enter the Age78
he is a great ZM

In [96]:
name = input("Enter the name: ")
age = int(input("Enter the Age"))
if name == "pooja" or age != 30:
    print("he is a great TM")
else:
    print("he is a great ZM")

Enter the name: jitendra
Enter the Age90
he is a great TM

In [97]:
num1 = int(input("Enter the num1: "))
num2 = int(input("Enter the num2: "))
print(num1>num2)

Enter the num1: 60
Enter the num2: 90
False

In [99]:
num1 = 2000
num2 = 200
print(num1>=num2)

True

In [100]:
num1 = 20000
num2 = 100
print(num1>=num2)

True

In [101]:
weather = input("Enter the weather: ")
if weather == "HOT":
    print("summer season")
elif weather == "COLD":
    print("Winter season")
elif weather == "Normal":
    print("so it's a normal day!")
else:
    print("something wents wrong!")

Enter the weather: HOT
summer season

In [103]:
weekday = int(input("Enter the weekday!"))
if weekday == 1:
    print("sunday!")
elif weekday == 2:
    print("Monday!")
elif weekday == 3:
    print("Tuesday!")
elif weekday == 4:
    print("Wednesday!")
elif weekday == 5:
    print("Thrusday!")
elif weekday == 6:
    print("friday!")
elif weekday == 7:
    print("saturday!")

Enter the weekday!3
Tuesday!

In [105]:
# looping:
for i in range(1,20):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [106]:
for i in range(1,30):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [110]:
for i in reversed(range(1,10)):
    print(i)

9
8
7
6
5
4
3
2
1

In [111]:
for i in range(1,10):
    print(i,"hello")

1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello

In [113]:
for i in range(1,20):
    if i%2==0:
        print(i,"Even num!")
    else:
        print(i,"odd num!")

1 odd num!
2 Even num!
3 odd num!
4 Even num!
5 odd num!
6 Even num!
7 odd num!
8 Even num!
9 odd num!
10 Even num!
11 odd num!
12 Even num!
13 odd num!
14 Even num!
15 odd num!
16 Even num!
17 odd num!
18 Even num!
19 odd num!

In [114]:
for i in "MY name is jitendra":
    print(i)

M
Y

n
a
m
e

i
s

j
i
t
e
n
d
r
a

In [117]:
for  i in range(10,1,-3):
    print(i)

10
7
4

In [118]:
for i in range(20,1,-2):
    print(i)

20
18
16
14
12
10
8
6
4
2

In [119]:
# While Looping:
num = 1
while num <=12:
    print(num)
    num = num+1

1
2
3
4
5
6
7
8
9
10
11
12

In [120]:
num = 10
while num<=10:
    print(num)
    num = num+1

10

In [123]:
num = 2
while num<=20:
    print(num)
    num = num+20

2

In [124]:
for i in range(1,20):
    if i == 10:
        break
    print(i)

1
2
3
4
5
6
7
8
9

In [127]:
for i in range(1,20):
    if i == 10:
        break
        continue
    print(i)
print("End the loop")

1
2
3
4
5
6
7
8
9
End the loop

In [128]:
for i in range(1,20):
    if i == 2:
        continue
    print(i)
print("End the LOOP")

1
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
End the LOOP

In [129]:
# Data Structure:
# List:
num = [1,2,3,4,5,6,7]
print(num)

[1, 2, 3, 4, 5, 6, 7]

In [130]:
num = [1,2,3,45,6,7,89,9]
print(num[3])

45

In [131]:
name = ["A","B","C","D","E","F"]
print(name[0:5])

['A', 'B', 'C', 'D', 'E']

In [132]:
name = ["A","B","C","D","E","F"]
print(name[1:6])

['B', 'C', 'D', 'E', 'F']

In [133]:
name = ["A","B","C","D","E","F"]
print(name[0:5:2])

['A', 'C', 'E']

In [134]:
name = ["A","B","C","D","E","F"]
print(name[0:6:2])

['A', 'C', 'E']

In [135]:
name = ["A","B","C","D","E","F"]
print(name[0: :3])

['A', 'D']

In [136]:
name = ["A","B","C","D","E","F"]
print(name[ :7:3])

['A', 'D']

In [137]:
name = ["A","B","C","D","E","F"]
print(name[ : :3])

['A', 'D']

In [138]:
name = ["A","B","C","D","E","F"]
print(name[-6])

A

In [139]:
name = ["A","B","C","D","E","F"]
print(name[-0])

A

In [140]:
name = ["A","B","C","D","E","F"]
print(name[-1])

F

In [141]:
name = ["A","B","C","D","E","F"]
print(name[-3])

D

In [142]:
name = ["A","B","C","D","E","F"]
print(type(name))

<class 'list'>

In [144]:
name = ["A","B","C","D","E","F"]
print(name)
name[1]="DOG"
print(name)

['A', 'B', 'C', 'D', 'E', 'F']
['A', 'DOG', 'C', 'D', 'E', 'F']

In [145]:
name = ["A","B","C","D","E","F"]
print(name)
name[2]="Doll"
print(name)

['A', 'B', 'C', 'D', 'E', 'F']
['A', 'B', 'Doll', 'D', 'E', 'F']

In [146]:
name = ["A","B","C","D","E","F"]
print(name)
name.append(input("Enter the name:"))
print(name)

['A', 'B', 'C', 'D', 'E', 'F']
Enter the name:lion
['A', 'B', 'C', 'D', 'E', 'F', 'lion']

In [147]:
name = ["A","B","C","D","E","F"]
print(name)
name.append("sita")
print(name)

['A', 'B', 'C', 'D', 'E', 'F']
['A', 'B', 'C', 'D', 'E', 'F', 'sita']

In [148]:
name = ["A","B","C","D","E","F"]
print(name)
res = input("Enter the res:")
name.append(res)
print(name)

['A', 'B', 'C', 'D', 'E', 'F']
Enter the res:jitendra
['A', 'B', 'C', 'D', 'E', 'F', 'jitendra']

In [150]:
name = ["A","B","C","D","E","F"]
print(name)
name.append("ram")
name.append("sita")
print(name)

['A', 'B', 'C', 'D', 'E', 'F']
['A', 'B', 'C', 'D', 'E', 'F', 'ram', 'sita']

In [151]:
my_list = []
for i in range (1,4):
    print("Enter the",i,"name:")
    res = input()
    my_list.append(res)
print(my_list)

Enter the 1 name:
jitendra
Enter the 2 name:
sita
Enter the 3 name:
pooja
['jitendra', 'sita', 'pooja ']

In [152]:
list1 = [10,20,30,40,50,60,70,80,90,100]
print(min(list1))

10

In [153]:
list1 = [10,20,30,40,50,60,70,80,90,100]
print(max(list1))

100

In [156]:
list1 = [10,20,30,40,50,60,70,80,90,10,10]
res = list1.count(10)
print(res)

3

In [158]:
list1 = [10,20,30,40,50,60,70,80,90,10,10]
list1.clear()
print(list1)

[]

In [164]:
list1 = [10,20,30,40,50,60,70,80,90,10,10]
list2 = [10,20,30]
res = list1
res.extend(list2)
print(res)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 10, 10, 10, 20, 30]

In [165]:
list1 = [10,20,30,40,50,60,70,80,90,10,10]
list2 = ["Rahul","Sital","Neha"]
res = list1
res.extend(list2)
print(res)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 10, 10, 'Rahul', 'Sital', 'Neha']

In [166]:
list1 = [10,20,30,40,50,60,70,80,90,10,10]
list2 = list1
list2[2]=500
print(list1)
print(list2)

[10, 20, 500, 40, 50, 60, 70, 80, 90, 10, 10]
[10, 20, 500, 40, 50, 60, 70, 80, 90, 10, 10]

In [167]:
list1 = [10,20,30,40,50,60,70,80,90,10,10]
list2 = list1.copy()
list2[2]=500
print(list1)
print(list2)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 10, 10]
[10, 20, 500, 40, 50, 60, 70, 80, 90, 10, 10]

In [168]:
list1 = [10,20,30,40,50,60,70,80,90,10,10]
list2 = [200,300,400]
res = list1.copy()
res.extend(list2)
print(list1)
print(list2)
print(res)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 10, 10]
[200, 300, 400]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 10, 10, 200, 300, 400]

In [169]:
list1 = [10,20,30,40,50,60,70,80,90,10,10]
list2 = [200,300,400]
res = list1
res.extend(list2)
print(list1)
print(list2)
print(res)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 10, 10, 200, 300, 400]
[200, 300, 400]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 10, 10, 200, 300, 400]

In [171]:
list1 = [10,20,30,40,50,60,70,80,90,10,10]
res = list1.index(20)
print(res)

1

In [172]:
list1 = ["Rahul","pooja","sital","neha","neetu"]
res = list1.index("Rahul")
print(res)

0

In [173]:
list1 = ["Rahul","pooja","sital","neha","neetu"]
res = list1.index("pooja")
print(res)

1

In [174]:
list1 = ["Rahul","pooja","sital","neha","neetu"]
res = list1.index("sital")
print(res)

2

In [176]:
list1 = ["Rahul","pooja","sital","neha","neetu"]
list1.insert(0,"rekha")
print(list1)

['rekha', 'Rahul', 'pooja', 'sital', 'neha', 'neetu']

In [178]:
list1 = ["Rahul","pooja","sital","neha","neetu"]
list1.insert(2,"Raaju")
print(list1)

['Rahul', 'pooja', 'Raaju', 'sital', 'neha', 'neetu']

In [179]:
list1 = ["Rahul","pooja","sital","neha","neetu"]
list1.pop(2)
print(list1)

['Rahul', 'pooja', 'neha', 'neetu']

In [181]:
list1 = ["Rahul","pooja","sital","neha","neetu"]
list1.remove("Rahul")
print(list1)

['pooja', 'sital', 'neha', 'neetu']

In [183]:
list1 = [10,20,30,40,50,60,70,80,90,10,10]
list1.sort()
print(list1)

[10, 10, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [185]:
num = [100,20,130,420,540,60,170,280,490]
num.sort()
print(num)

[20, 60, 100, 130, 170, 280, 420, 490, 540]

In [187]:
num = [100,20,130,420,540,60,170,280,490]
num.sort(reverse=True)
print(num)

[540, 490, 420, 280, 170, 130, 100, 60, 20]

In [188]:
num = [100,20,130,420,540,60,170,280,490]
num.sort(reverse=False)
print(num)

[20, 60, 100, 130, 170, 280, 420, 490, 540]

In [189]:
# Tuple:
a = (1,2,3,4,5)
print(type(a))

<class 'tuple'>

In [190]:
a = (1,2,3,4,5)
b = (8,9,0,6,4)
print(a+b)

(1, 2, 3, 4, 5, 8, 9, 0, 6, 4)

In [191]:
a = {}
print(a)

{}

In [192]:
a = {}
print(type(a))

<class 'dict'>

In [193]:
a = {101:"Jitendra",102:"Rahul",103:"Sita"}
print(a)

{101: 'Jitendra', 102: 'Rahul', 103: 'Sita'}

In [194]:
a = {101:"Jitendra",102:"Rahul",103:"Sita"}
print(a[102])

Rahul

In [195]:
a = {101:"Jitendra",102:"Rahul",103:"Sita"}
print(a.keys())

dict_keys([101, 102, 103])

In [196]:
a = {101:"Jitendra",102:"Rahul",103:"Sita"}
print(a.values())

dict_values(['Jitendra', 'Rahul', 'Sita'])

In [198]:
a = {101:"Jitendra",102:"Rahul",103:"Sita"}
key = int(input("Enter the key:"))
value = input("Enter the value: ")
a[key]=value
print(a)

Enter the key:104
Enter the value: lion
{101: 'Jitendra', 102: 'Rahul', 103: 'Sita', 104: 'lion'}

In [199]:
a = {101:"Jitendra",102:"Rahul",103:"Sita"}
key = int(input("Enter the Key: "))
value = input("Enter the value: ")
a[key] = value 
print(a)

Enter the Key: 104
Enter the value: tiger
{101: 'Jitendra', 102: 'Rahul', 103: 'Sita', 104: 'tiger'}

In [200]:
a = {101:"Jitendra",102:"Rahul",103:"Sita"}
del a[101]
del a[102]
print(a)

{103: 'Sita'}

In [201]:
a = {101:"Jitendra",102:"Rahul",103:"Sita"}
a.update({106:"king"})
print(a)

{101: 'Jitendra', 102: 'Rahul', 103: 'Sita', 106: 'king'}

In [202]:
a = {101:"lion"}
b = {102:"Tiger"}
c = {103:"Reeta"}
d = {}
d.update(a)
d.update(b)
d.update(c)
d.update(d)
print(d)

{101: 'lion', 102: 'Tiger', 103: 'Reeta'}